<!-- Page Content -->
<div id="page-content-wrapper">

  <div class="container mx-auto w-50 py-1 px-1 mt-4">
    <textarea id="postInput" rows="10" cols="80">

        </textarea>
    Topic: <input id="topicInput" type="text" name="Topic" placeholder="eg: Landscapes">
    <input class="postSubmit" type="submit" value="Submit">

  </div>

  <div class="container mx-auto w-50 py-1 px-1 mt-4">
    {{#each posts}}


    <div class=" text-center my-3 py-2 px-2 border border-secondary content-post rounded">
      <p class="text-right font-italic mb-1">{{createdAt}}</p>

      {{#if imgSrc}}
      <img src="{{imgSrc}}" alt="{{imgAlt}}" width="90%" class="">
      {{/if}}


      <p class="text-left py-2">{{body}}</p>

      <p class="text-right font-italic">-posted
        {{#if Topic.topic}} in <a href="/topics/{{Topic.id}}">{{Topic.topic}}</a>{{/if}}

        {{#if User.userName}} by <a href="/users/{{User.id}}">{{User.userName}}</a>{{/if}}


    </div>
    {{!-- {{> posts/post-block topic=true user=true}} --}}
    {{/each}}
  </div>

</div>
<!-- /#page-content-wrapper -->